.main {
  grid-area: main;
  box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.46);
}

.profileInfo {
  display: flex;
}

.profile {
  padding: 25px;
}


.avatar {
  display: block;
  width: 120px;
  height: 120px;
  margin-right: 25px;
  margin-top: 5px;
  border-radius: 5px;
  border: 3px solid #fff;
  outline: 3px solid #aeaeae;
  background-image: url(https://media.philstar.com/photos/2019/10/26/orange-cat_2019-10-26_14-12-40.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.name {
  margin-bottom: 30px;
}

.infoList,
.posts,
.postItem {
  outline: none;
}

.item {
  height: 30px;
  font-weight: bold;
}

.data {
  margin-left: 10px;
  font-weight: normal;
}

.createPost {
  padding: 25px;
}

.createPost:before {
  content: '';
  display: block;
  height: 1px;
  margin: 20px auto 40px;
  width: 50%;
  background-color: #eaeaea;
}

.newText {
  max-height: 200px;
  min-height: 70px;
  margin: 20px 0 10px;
  word-wrap: wrap;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 5px;
  padding: 10px;
  background-color: #e7e8ec;
}

.createButton{
  display: block;
  height: 50px;
  background-color: #e7e8ec;
  padding: 10px 30px;
  border-radius: 5px;
  text-align: center;
  margin-left: auto;
  max-width: 300px;
  font-weight: 900;
  text-transform: uppercase;
}