.profile {
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
}

.profile:after {
  content: '';
  display: block;
  height: 2px;
  margin: 80px auto 55px;
  width: 50%;
  background-color: #eaeaea;
}

.avatar {
  display: block;
  width: 220px;
  height: 220px;
  margin-right: 25px;
  margin-top: 5px;
  border-radius: 5px;
  border: 3px solid #fff;
  outline: 3px solid #aeaeae;
}

.userName {
  margin-bottom: 30px;
}

.userName > a {
  color: #353b48;
}

.details {
  flex-grow: 1;
  color: #353b48;
}
