.item {
  height: 200px;
  border-radius: 5px;
  background-color: #eaeaea;
  padding: 30px 0;
  margin: 10px 0;
  display: grid;
  grid-template-areas: "avatar info";
  grid-template-columns: 2fr 7fr;
  justify-items: center;
  align-items: center;
  box-shadow: 0px 3px 12px -4px rgba(0, 0, 0, 0.46);
}


