.createPost {
  padding: 25px 25px;
  background-color: #eaeaea;
  margin: 30px 25px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}


.newText {
  max-height: 200px;
  min-height: 70px;
  margin: 20px 0 10px;
  word-wrap: wrap;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 5px;
  padding: 10px;
  background-color: #dcdde1;
}

.createButton {
  display: block;
  height: 50px;
  background-color: #dcdde1;
  padding: 10px 30px;
  border-radius: 5px;
  text-align: center;
  margin-left: auto;
  max-width: 300px;
  font-weight: 900;
  text-transform: uppercase;
}