.item {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.avatar {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.avatar img {
  height: 100%;
  width: 100%;
}

.name {
  padding: 5px;
  font-weight: bold;
}