.messages {
  grid-area: messages;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-height: 800px;
  border-left: 1px solid #eaeaea;
  padding-left: 15px;
  position: relative;
}
.title {
  margin-bottom: 40px;
  font-weight: 400;
  text-align: center;
}

.title:after {
  content: '';
  width: 2rem;
  display: block;
  margin: 20px auto;
  background-color: #aeaeae;
  height: 1px;
}

.messagesList {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
.messagesBody {
  height: 600px;
  overflow: auto;
}


.newMessage {
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px 10px 10px;
  border-top: 1px solid #eaeaea;
}

.typeMessage {
  font-size: 1rem;
  background-color: #eaeaea;
  padding: 15px 20px;
  max-height: 100px;
  overflow: auto;
  border-radius: 5px;
}

.send {
  align-self: flex-end;
  padding: 5px 10px;
  border-radius: 5px;
}

.button {
  height: 40px;
  padding: 5px 15px;
  width: 100px;
  font-weight: bold;
  margin-top: .3rem;
}


.message {
  max-width: 60%;
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.message:nth-child(2),
.message:nth-child(3),
.message:nth-child(6) {
  align-self: flex-end;
  flex-direction: row-reverse;
}
.avatar {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
}

.item {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  background-color: #dadada;
  word-wrap: break-word;
  margin: .5rem .8rem;
  align-self: start;
}
