.messages {
  grid-area: messages;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-height: 800px;
  border-left: 1px solid #eaeaea;
  padding-left: 15px;
  position: relative;
}
.title {
  margin-bottom: 40px;
  font-weight: 400;
  text-align: center;
}

.title:after {
  content: '';
  width: 1rem;
  display: block;
  margin: 20px auto;
  background-color: #aeaeae;
  height: 1px;
}