.statusBox {
  height: 50px;
  position: relative;
}

.status {
  height: 50px;
  cursor: text;
}

.editable:hover {
  background-color: #eaeaea;
  cursor: pointer;
}

.statusText {
  border-radius: 1px;
  overflow: hidden;
  padding: 0 5px;
  line-height: 30px;  
  font-weight: normal;
  font-size: 1rem;
  font-style: italic;
  color: #777;
}
