.createPost {
  padding: 25px 25px;
  border-radius: 5px;
  background-color: #eaeaea;
  margin: 30px 25px;
  box-shadow: 0 15px 20px -15px rgba(56, 40, 40, 0.4);
}

.title, .createButton {
  color: #353b48;
}

.newText, .newText:focus {
  height: 100px;
  resize: none;
  width: 100%;
  margin: 20px 0 10px;
  text-align: justify;
  border-radius: 5px;
  padding: 10px;
  background-color: #dcdde1;
}

.button {
  height: 50px;
  padding: 10px 30px;
  font-weight: 900;
}