.infoList {
  margin-top: 30px;
}

.contactsBlock {
  padding-left: 20px;
  transform: scaleY(0);
  transition: transform .1s;
  transform-origin: 50% 0;
  height: 0;
}

.blockShown {
  transform: scaleY(1);
  height: auto;
}

.contactItem,
.title {
  display: flex;
  align-items: center;
  padding: 5px 0;
  font-weight: bold;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-word-break: break-all;
  max-width: 90%;
}

.title {
  cursor: pointer;
}

.contactItem > a {
  text-decoration: underline;
}

.contactItem > a:hover {
  text-decoration: none;
}


.contactItem::before {
  content: '\2022';
  margin-right: 5px;
}

.contactData {
  margin-left: 10px;
  font-weight: normal;
  color: #353b48;
}

.arrow {
  margin-left: 7px;
  border: solid #333;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transition: transform .3s;
}

.arrowShown {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.noInfo {
  font-style: italic;
  color: #777;
}