.pagesBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 30px;
  bottom: 0;
  right: 25px;
  margin-left: auto;
  border-radius: 5px;
  padding: 5px 15px;
}

.pagesBar:first-of-type {
  margin-bottom: 10px;
}
.pagesBar:last-of-type {
  margin-top: 10px;
}

.pageNumber {
  display: flex;
  align-items: center;
  height: 30px;
  font-size: 1rem;
  position: relative;
  cursor: pointer;
  transition: transform .5s;
  font-weight: bold;
}

.pageNumber:not(.picked):hover {
  transform: translateY(-3px);
}
.picked {
  position: relative;
  color: #6a6a6a;
}
.picked::after {
  content: '';
  background-color: #6a6a6a;
  position: absolute;
  width: 4px;
  height: 4px;
  margin-top: 1px;
  right: -70%;
  border-radius: 50%;
}