.friendsBar {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 40px auto 0;
  border-radius: 5px;
}

.title {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.title:after {
  display: block;
  content: '';
  height: 1px;
  width: 20%;
  margin: 5px auto 10px;
  background-color: #aeaeae;
}

.items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

.item {
  width: 50%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.avatar {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.avatar img {
  height: 100%;
  width: 100%;
}