.separator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.line {
  height: 2px;
  margin: 15px auto 55px;
  width: 50%;
  background-color: #cecece;
}