@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');

*, *:focus {margin: 0; padding: 0; box-sizing: border-box;outline:none}
html {font-size: 16px;}
ul, ol, li {list-style: none;}
a{text-decoration: none;color:black}
button, button:focus {border:none; outline:none; cursor: pointer;}

body {
  background-color: #f5f6fa;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}

.header, .main, .nav, .footer {background-color: #fff;}

.app-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
  display: grid;
  grid-template-areas: 
  "header header"
  "nav main"
  "footer footer";
  grid-template-rows: 70px 1fr 70px;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.46);
}

.header__logo {
  display: block;
  width: 40px;
  height: 40px;
  border: 2px solid #aeaeae;
  border-radius: 50%;
  background-color: #fff;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/640px-React-icon.svg.png);
}

.nav {
  grid-area: nav;
  padding: 10px;
  box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.46);
}

.nav-list__item {
  margin: 8px 0;
}

.main {
  grid-area: main;
  box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.46);
}

.main__profile-info {
  display: flex;
}
.profile {
  padding: 25px;
}
.profile__avatar {
  display: block;
  width: 120px;
  height: 120px;
  margin-right: 25px;
  border-radius: 5px;
  background-image: url(https://media.philstar.com/photos/2019/10/26/orange-cat_2019-10-26_14-12-40.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.profile__name {
  margin-bottom: 30px;
}
.profile__info-item {
  height: 30px;
  font-weight: bold;
}

.profile__info-data {
  margin-left: 10px;
  font-weight: normal;
}

.main__create-post {
  padding: 25px;
}

.create-post__new-text {
  max-height: 200px;
  margin: 20px 0 10px;
  word-wrap: wrap;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 5px;
  padding: 10px;
  background-color: #dcdde1;
}

.create-post__create-button {
  display: block;
  height: 50px;
  background-color: orangered;
  padding: 10px 30px;
  border-radius: 5px;
  text-align: center;
  margin-left: auto;
  max-width: 300px;
  font-weight: 900;
  text-transform: uppercase;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: footer;
  padding: 25px;
  box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.46);
}

.footer__info {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
}