@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');

* {margin: 0; padding: 0; box-sizing: border-box;outline:none}
html {font-size: 16px; margin-left: calc(100vw - 100%);}
ul, ol, li {list-style: none;}
a{text-decoration: none;color:#353b48}
button, button:focus {border:none; outline:none; cursor: pointer;}
textarea {border:none; outline:none}
textarea:focus::placeholder{color: transparent}

body {
  background-color: #f5f6fa;
  overflow-y: overlay;
}
body,
textarea,
textarea:focus,
input,
input:focus {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #353b48;
}

.header, .main, .footer {background-color: #fff;}

.avatar {width: 100%;height: 100%;}

.app-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
  display: grid;
  grid-template-areas: 
  "header header"
  "nav main"
  "footer footer";
  grid-template-rows: 70px auto 70px;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

