.inputItem, .textareaItem {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 0;
}

.inputTitle,
.textareaTitle {
  margin-bottom: 10px;
  font-weight: bold;
}
.input {
  height: 50px;
}

.errorInput {
  border: 2px solid #ED4C67 !important;
}

.errorMessage {
  margin-top: 10px;
  color: #ED4C67;
}

.textarea {
  height: 150px;
  resize: none;
  width: 100%;
}

.input, .textarea {
  border: 1px solid #aeaeae;
  border-radius: 4px;
  padding: 20px 12px;
}

.input::placeholder,
.textarea::placeholder {
  font-size: 1rem;
}

.checkboxItem {
  padding: 20px;
}

.checkboxLabel {
  margin-right: 20px;
  font-weight: bold;
}